.link {
  font-size: 28px;
  line-height: 32px;
  font-family: inherit;
  color: inherit;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  $root: &;

  &--small {
    font-size: 16px;
    line-height: 24px;
    gap: 6px;
    font-weight: 400;

    svg {
      height: 16px;
      width: 16px;
    }
  }

  &--icon {
    #{$root}__icon-left {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-54px, -50%);
    }

    &:hover,
    &:focus-visible {
      svg {
        transform: translate(-49px, -50%);
      }
    }
  }

  &:hover,
  &:focus-visible {
    ::after {
      width: 100%;
      transition: width $transition-300;
    }
  }

  &__text {
    position: relative;

    &::after {
      display: block;
      content: "";
      height: 1px;
      background-color: currentColor;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      transition: width $transition-300;
    }
  }
}